h1 {
    color: green;
    font-style: italic;
}

.error-message-container,
.success-message-container {
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    border-width: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

.error-message-container {
    color: red;
}

.success-message-container {
    color: green;
}
